@CHARSET "UTF-8";
body{
	font-family:"Tahoma",Times New Roman,Georgia,Serif;
}
.loading{
  background-image:url('../img/indicator.gif');
  background-position:right;
  background-repeat:no-repeat;
}